<th:block th:replace="~{/myTemplate/template :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <img src="/main.jpg" class="img-fluid" id="mainPhoto">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 id="teacherInfo">대표 강사 경력</h3>
                    <table id="teacherTable" border="1">
                        <tr>
                            <td colspan="2"><img src="/profile.png" id="teacherProfile"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center"><h4>유지애 선생님</h4></td>
                        </tr>
                        <tr>
                            <td>경력</td>
                            <td>
                                강사 경력 10년<br>
                                현)유필라테스 원장<br>
                                전)이필라테스 강사<br>
                                전)박필라테스 강사<br>
                                전)오필라테스 강사
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <img src="/event.png" class="img-fluid" id="eventPhoto2">
                </div>
            </div>
        </div>
    </th:block>
</th:block>


