<!-- 본문 -->
<th:block th:replace="~{/myTemplate/template :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="col">
            <h2>
                <p>필라테스</p>
            </h2>
            필라테스(영어: Pilates 또는 Contrology)는 근육 강화 운동으로 1910년대 중반기를 전후한 제1차 세계 대전 중에 영국의 랭커스타 포로수용소에서 인턴으로 근무하던 요제프
            필라테스(Joseph H. Pilates)가 포로들의 운동 부족과 재활 치료, 정신 수련을 위해 침대와 매트리스 등 간단한 기구만으로 운동할 수 있도록 고안하였는데 이것이 필라테스의
            원형이다
            <br>
            <br>
            <h2>효과</h2>
            필라테스는 신체의 전 근육을 과학적으로 단련하기 위해 만들어졌다. 신체 중 복부의 안정과 몸 전체의 균형을 추구한다.
            또한 필라테스는 요가의 아사나와 다양한 체조의 동작 및 스포츠의 운동 동작을 결합하여 매트나 기구 위에서 수련을 한다.
            그 결과 전신 근육의 균형적인 발달과, 신체의 스트레칭 능력과 혈액순환의 향상을 가져오게 된다.
        </div>
        </div>
        </div>
    </th:block>
</th:block>

