header{
    height: 120px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    border-style: solid;
    border-color: lightblue;  
}

#mainTitle {
    position: absolute;
    top: 4%;
    left: 45%;
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;
    text-decoration: none;
    color: black;
}

#teacherInfo {
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Black Han Sans', sans-serif;
}

#teacherTable {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Black Han Sans', sans-serif;
}

#memberInfo {
    font-size: 20px;
    font-family: 'Black Han Sans', sans-serif;
    margin-right: 10px;
}

#logo {
    float: left;
}

#memberInfo, #logout{
    display: inline-block;
}

#login {
    padding: 5px;
    left: 82%;
    top: 8%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#join, #logout {
    padding: 5px;
    left: 87%;
    top: 8%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#navListTitle{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 26px;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}

#navList {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 26px;
    color: black;
    padding: 10px;
}

#navList:hover {
    background-color: lightblue;
}

#mainPhoto {
    padding: 1px;
}

#eventPhoto {
    /* position: relative;
    width: 47%;
    height: 50%; */
    padding: 1px;
}

#eventPhoto2 {
    /* position: relative;
    width: 47%;
    height: 50%; */
    padding: 1px;
}

#titleLink {
    color: black;
    text-decoration: none;
}
