<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유필라테스</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/pstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<!-- 헤더 -->
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/">
                    <img id="logo" width="200" height="100" src="logo.png">
                </a>
            </div>
            <div class="col">
                <h1 id="mainTitle">유필라테스</h1>
            </div>
            <div class="col" th:if="${session.ID eq null}">
                <a href="/login"><button type="button" class="btn btn-outline-info" id="login">로그인</button></a>
                <a href="/join"><button type="button" class="btn btn-outline-info" id="join">회원가입</button></a>
            </div>
            <div class="col" th:unless="${session.ID eq null}">
                <p id="memberInfo">[[${session.ID}]] 님 안녕하세요</p>
                <a href="/logout"><button type="button" class="btn btn-outline-info" id="logout">로그아웃</button></a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- 네비게이터 -->
        <div class="col-lg-2">
            <ul class="nav flex-column">
                <li class="nav-item" id="navListTitle">메뉴</li>
                <li class="nav-item">
                    <a class="nav-link" href="/info" id="navList">필라테스 소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/consult" id="navList">상담</a>
                </li>
            </ul>
        </div>
            <!-- 본문 -->
            <div class="col">
                <h2>
                    <p>필라테스</p>
                </h2>
                필라테스(영어: Pilates 또는 Contrology)는 근육 강화 운동으로 1910년대 중반기를 전후한 제1차 세계 대전 중에 영국의 랭커스타 포로수용소에서 인턴으로 근무하던 요제프
                필라테스(Joseph H. Pilates)가 포로들의 운동 부족과 재활 치료, 정신 수련을 위해 침대와 매트리스 등 간단한 기구만으로 운동할 수 있도록 고안하였는데 이것이 필라테스의
                원형이다
                <br>
                <br>
                <h2>효과</h2>
                필라테스는 신체의 전 근육을 과학적으로 단련하기 위해 만들어졌다. 신체 중 복부의 안정과 몸 전체의 균형을 추구한다.
                또한 필라테스는 요가의 아사나와 다양한 체조의 동작 및 스포츠의 운동 동작을 결합하여 매트나 기구 위에서 수련을 한다.
                그 결과 전신 근육의 균형적인 발달과, 신체의 스트레칭 능력과 혈액순환의 향상을 가져오게 된다.
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item px-2 text-muted">위치) 서울시 강남구</li>
                <li class="nav-item px-2 text-muted">영업 시간) 06:00 ~ 22:00</li>
                <li class="nav-item px-2 text-muted">문의) 010.0000.0000</li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>